<!DOCTYPE html>
<html>
  <!-- {% include head.html %} -->
  <body>
    <div class="site-main-layout">
      {% include sidebar.html %}
      <div class="site-main-content">
        <!-- {% include nav.html %} -->
        <div id="main" role="main" class="wrapper-content">
          <div class="container">
            {{ content }}
          </div>
        </div>
        <!-- {% include analytics.html %} -->
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>
  </body>
</html>